/* *********************************************** */
/*                     OVERALL                     */
/* *********************************************** */

html,
body {
  --color-white: #f0f0f5;
  --color-black: #1d1d21;
  --color-black-light: #202026;
  --color-red: #dc143c;
  --color-green: #90ea64;
  --color-green-two: #40851e;
  --color-blue: #4285f4;
  --color-orange: #ffa500;
  --color-darkblue: #4285f440;
  --color-cyan: #7ce0c4;
  --color-pink: #ea00ff;
  --gradient-color-orange: #ee7752;
  --gradient-color-pink: #e73c7e;
  --gradient-color-blue: #23a6d5;
  --gradient-color-green: #23d5ab;
  --rocket-color-base: #fff7e9;
  --rocket-color-components: #db143c;
  --font-header: 'Architects Daughter', cursive;
  --font-body: 'BioRhyme', serif;
  font-size: calc(70% + 0.8vmin);
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  background: linear-gradient(
    -45deg,
    var(--gradient-color-orange),
    var(--gradient-color-pink),
    var(--gradient-color-blue),
    var(--gradient-color-green)
  );
  background-size: 400% 400%;
  animation: movingBackground 15s ease infinite;
}

@keyframes movingBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-weight: 200;
  text-align: center;
}

/* *********************************************** */
/*                     HEADER                      */
/* *********************************************** */

body > header {
  margin: 0 auto;
  transition: 0.2s;
  width: 100vw;
  height: 100vh;
  position: relative;
}

body > header h1 {
  margin: 0;
  margin: 0 auto;
  margin: 2em;
  margin: 2em 0em;
  font-size: 3.5rem;
  text-shadow: 7px 4px 0px white;
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.4s;
  /* font-size: calc(70% + 0.8vmin); */
}

body > header h1:hover {
  text-shadow: none;
  text-decoration: none;
  opacity: 0;
}

body > header h1:hover::after {
  content: ' Ciao!';
  display: inline-block;
  margin-left: 10px;
}

body > header a {
  margin: 0;
  margin: 2em 0em;
  display: block;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

body > header a:hover {
  transform: scale(1.2);
}

body > header a:after {
  content: '🔽  🔽  🔽';
  display: block;
  opacity: 0;
  transition: all 0.5s;
}

body > header a:hover:after {
  opacity: 1;
}

/* rocket */
body > header div:first-of-type {
  background: var(--rocket-color-base);
  width: 121px;
  height: 400px;
  position: absolute;
  top: 5%;
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  filter: blur(20px);
  transform: scale(0.5);
  transition: 0.2s;
  opacity: 0;
}

/* fin */
body > header div:first-of-type div:nth-child(1),
body > header div:first-of-type div:nth-child(2) {
  position: absolute;
  z-index: 100;
  height: 75px;
  width: 61px;
  background: var(--rocket-color-components);
  margin-top: -20px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  opacity: 1;
  filter: none;
  border-radius: 0;
}

/* fin-left */
body > header div:first-of-type div:nth-child(1) {
  left: -61px;
  top: calc(100% - 55px);
  transform: rotateY(180deg);
}

/* fin-right */
body > header div:first-of-type div:nth-child(2) {
  right: -61px;
  top: calc(100% - 55px);
}

/* window */
body > header div:first-of-type div:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--rocket-color-components);
  left: calc(50% - 25px);
  top: 40px;
  border: 2px solid grey;
}

/* exhaust  */
body > header div:first-of-type div:nth-child(4) {
  position: absolute;
  z-index: 100;
  height: 54px;
  width: 112px;
  left: 6px;
  top: calc(113.5% - 55px);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background: var(--rocket-color-components);
}

/*  fire  */
body > header div:first-of-type div:nth-child(5) {
  display: block;
  font-size: 7rem;
  height: 0.5em;
  margin-top: 30rem;
  transform: rotateX(180deg);
  opacity: 0;
}

/* Hover over h1 tag and rocket appears with animation */
body > header h1:hover ~ div:first-of-type {
  opacity: 1;
  filter: blur(0px) drop-shadow(0 0 0.75rem black);
  animation: tripToSpace 8s 1s ease-in;
}

/* animation of the rocket div */
@keyframes tripToSpace {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  25% {
    transform: scale(1) translateY(0px) translateX(0px) rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  31% {
    transform: rotate(2deg);
  }
  32% {
    transform: rotate(-2deg);
  }
  33% {
    transform: rotate(2deg);
  }
  34% {
    transform: rotate(-2deg);
  }
  35% {
    transform: rotate(2deg);
  }
  36% {
    transform: rotate(-2deg);
  }
  37% {
    transform: rotate(2deg);
  }
  38% {
    transform: rotate(-2deg);
  }
  39% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  41% {
    transform: rotate(2deg);
  }
  42% {
    transform: rotate(-2deg);
  }
  43% {
    transform: rotate(2deg);
  }
  44% {
    transform: rotate(-2deg);
  }
  45% {
    transform: rotate(2deg);
  }
  46% {
    transform: rotate(-2deg);
  }
  47% {
    transform: rotate(2deg);
  }
  48% {
    transform: rotate(-2deg);
  }
  49% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: translateY(100px);
  }
  70% {
    transform: translateY(-1000px);
  }
  74% {
    transform: translateY(-800px);
  }
  78% {
    transform: translateY(-600px);
  }
  80% {
    transform: translateY(-400px);
  }
  90% {
    transform: translateY(-300px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: scale(0.5);
  }
}

/* When hover over h1, then the fire/flame comes out the exhaust with a delay */
body > header h1:hover ~ div:first-of-type div:nth-child(5) {
  animation: fadeIn linear 2s;
  animation-delay: 4.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body > header p {
  margin: 0;
}

/* *********************************************** */
/*                     NAV - INPUT                 */
/* *********************************************** */

body input {
  opacity: 0;
}

/*  Can not select the label after the checked input */
/* body input[type='radio']:checked ~ div label {
  background: grey;
  color: var(--color-white);
} */

/* You can style other labels while this label is checked */
body input[type='checkbox']:checked ~ div label {
  background: purple;
  color: var(--color-white);
}

body > div {
  width: 88vw;
  padding: 10px;
  margin: 0 auto;
  /* margin-bottom: 12em; */
  /* margin-bottom: 4em; */
  text-align: left;
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(7em, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  /* grid-template-columns: repeat(auto-fill, 250px); */
  /* grid-auto-rows: auto; */
  grid-auto-rows: 4em;
  justify-items: center;
  align-items: center;
  /* position: absolute;
  top: 100px;
  left: 10px;
  z-index: 1000; */
}

body > div label {
  width: 90%;
  height: auto;
  padding: 5px;
  margin: 0.5em;
  font-size: 0.8rem;
  color: white;
  background: var(--color-black);
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
}

body > div label:hover {
  cursor: pointer;
  background: white;
  color: black;
}

/* *********************************************** */
/*                     MAIN - PAGES                */
/* *********************************************** */

main {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  /* width: 74vw; */
  width: 85vw;
  height: 80vh;
  margin: 0 auto;
  /* margin-bottom: 23px; */
  /* margin: 0em 1em; */
}

main section {
  position: absolute;
  max-height: 78vh;
  padding: 10px 14px;
  opacity: 0.6;
  border-radius: 7px;
  overflow-x: hidden;
  color: white;
  box-shadow: 2px 5px 15px 0px #17161694;
  transition: 0.2s;
  animation: skew 3s infinite alternate;

  display: grid;
  /* grid-template-columns: auto auto; */
  /* grid-template-columns: 14em 14em; */
  grid-template-columns: 40vw 40vw;
  grid-auto-rows: auto;
  justify-items: center;
}

@keyframes skew {
  0% {
    transform: skewX(10deg);
  }
  100% {
    transform: skewX(-10deg);
  }
}

/* -- MENU CARD BORDER - Otherwise you have to create new <div> --*/
main section:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #a1a1a1;
}

main section:nth-child(1) {
  background-color: var(--color-red);
  z-index: 7;
  width: 86vw;
}

main section:nth-child(2) {
  background-color: var(--color-green);
  z-index: 6;
  width: 80vw;
}

main section:nth-child(3) {
  background-color: var(--color-blue);
  z-index: 5;
  width: 82vw;
}

main section:nth-child(4) {
  background-color: var(--color-orange);
  z-index: 4;
  width: 85vw;
}

main section:nth-child(5) {
  background-color: var(--color-cyan);
  z-index: 3;
  width: 89vw;
}

main section:nth-child(6) {
  background-color: var(--color-pink);
  z-index: 2;
  width: 82vw;
}

main section:nth-child(7) {
  background-color: var(--color-green-two);
  z-index: 1;
  width: 85vw;
}

/* For the checked card */
body input[type='radio']:checked ~ main article:hover {
  transform: scale(1.05);
  background-color: white;
  color: rgb(86, 86, 86);
  box-shadow: 2px 5px 15px 0px #17161694;
}

@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

body input[id='sectionOne']:checked ~ main section:nth-child(1) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionTwo']:checked ~ main section:nth-child(2) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionThree']:checked ~ main section:nth-child(3) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionFour']:checked ~ main section:nth-child(4) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionFive']:checked ~ main section:nth-child(5) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionSix']:checked ~ main section:nth-child(6) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

body input[id='sectionSeven']:checked ~ main section:nth-child(7) {
  opacity: 1;
  z-index: 8;
  animation: bounceIn 1s;
}

/* Toggle skewing animation checkbox */

body input[id='toggleAnimation'] ~ div label[for='toggleAnimation'],
body input[id='noAnimation'] ~ div label[for='noAnimation'] {
  font-family: monospace;
}

body input[id='toggleAnimation']:checked ~ div label[for='toggleAnimation'],
body input[id='noAnimation']:checked ~ div label[for='noAnimation'] {
  background: pink;
  color: black;
}

/* You can style other labels while this label is checked */
/* body input[type='checkbox']:checked ~ div label {
  background: purple;
  color: var(--color-white);
} */

body input[id='toggleAnimation'] ~ main section {
  animation-play-state: running;
}

body input[id='toggleAnimation']:checked ~ main section {
  animation-play-state: paused;
}

body input[id='noAnimation']:checked ~ main section {
  animation: none;
  transform: skew(0deg);
}

/* *********************************************** */
/*                     MAIN - DISHES               */
/* *********************************************** */

main section header {
  padding: 10px;
  height: 6em;
  padding: 5px;
  text-transform: uppercase;
  background-color: rgba(24, 18, 18, 0.708);
  border-radius: 7px;
  font-family: var(--font-header);
  width: 12em;
}

main section header h2 {
  font-size: 2rem;
  margin: 0;
}

main section blockquote {
  padding: 10px;
  margin: 0;
  /* height: 6em; */
  width: 90%;
  align-self: center;
  font-size: 0.6rem;
  text-transform: uppercase;
  background-color: rgba(130, 116, 116, 0.482);
  border-radius: 7px;
  font-family: var(--font-header);
}

main section blockquote p {
  margin: 0;
}

main section article {
  display: inline-block;
  /* width: 300px; */
  /* width: 17em; */
  /* width: 10em; */
  width: 90%;
  /* height: 10em; */
  padding: 0px 8px;
  margin: 10px;
  font-size: 0.7rem;
  text-align: center;
  background-color: inherit;
  border-radius: 7px;
  box-shadow: 2px 5px 15px 0px #17161694;
  transition: 0.2s;
  color: white;
}

main section article h3 {
  font-weight: 400;
}

/* *********************************************** */
/*                     FOOTER                      */
/* *********************************************** */

footer {
  font-size: 0.6em;
  margin: 1em 0em;
  color: #515151;
}

footer p {
  margin: 0;
  padding: 0;
}

footer p a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}

footer p a:hover {
  color: black;
}

/* *********************************************** */
/*             RESPONSIVE                          */
/* *********************************************** */

/* @media (prefers-color-scheme: dark) { */

/* *********************************************** */
/*              PREFERS COLOR SCHEME               */
/* *********************************************** */

@media (prefers-color-scheme: dark) {
  html,
  body {
    --color-red: #ff0000;
    --color-green: #55ff00;
    --color-green-two: #359e00;
    --color-blue: #0062ff;
    --color-orange: #ff9500;
    --color-darkblue: #0062ff40;
    --color-cyan: #00ffb7;
    --color-pink: #ff007b;
    --gradient-color-orange: #914731;
    --gradient-color-pink: #6f2b45;
    --gradient-color-blue: #174151;
    --gradient-color-green: #1b4e42;
    --rocket-color-base: #9a9a95;
    --rocket-color-components: #203619;
    color: var(--color-white);
  }

  body > header h1 {
    text-shadow: 7px 4px 0px black;
  }

  body > div label {
    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-black);
    transition: 0.2s;
  }

  body > div label:hover {
    color: var(--color-white);
    background: var(--color-black);
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #98dffb70;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98dffb70;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff90;
}
